:root {
	--sh-identifier: #354150;
	--sh-keyword: #f47067;
	--sh-string: #00a99a;
	--sh-class: #8d85ff;
	--sh-property: #4e8fdf;
	--sh-entity: #6eafad;
	--sh-jsxliterals: #bf7db6;
	--sh-sign: #8996a3;
	--sh-comment: #a19595;
}

:root.dark {
	--sh-class: #4c97f8;
	--sh-identifier: white;
	--sh-keyword: #f47067;
	--sh-string: #0fa295;
}
